body {
    font-family: 'Montserrat';
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
  }
  
  nav {
    display: flex;
    justify-content: center;
    background-color: #d8b5d9;
    padding: 20px 0;
  }
  
  .menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .menu > li {
    position: relative;
  }
  
  .menu > li > a {
    display: block;
    color: #4d4d4d;
    text-decoration: none;
    padding: 10px 20px;
    transition: background-color 0.3s;
  }
  
  .menu > li > a:hover {
    background-color: #b48cb1;
  }
  
  .submenu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #d8b5d9;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
  }
  
  .submenu li a {
    display: block;
    color: #4d4d4d;
    text-decoration: none;
    padding: 10px 20px;
    transition: background-color 0.3s;
  }
  
  .submenu li a:hover {
    background-color: #b48cb1;
  }
  
  .menu li:hover > .submenu {
    opacity: 1;
    visibility: visible;
  }

  .gufi img{
    width: 100%;
  }

  .gufi h1{
    justify-content: center;
    align-items: center;
    display: flex;
  }